.board {
  background-color: #000000;
  margin: 50px auto;
  vertical-align: center;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  border-radius: 4px;
}

.box {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header, .result {
  font-size: 20px;
  text-align: center; 
}
